.root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#egg {
    animation: egg 1.5s ease-in-out infinite alternate;
    transform-origin: bottom;
    transform-box: fill-box;
}
#egg:hover {
    animation: eggHover 1.5s ease-in-out infinite alternate;
    transform-origin: bottom;
    transform-box: fill-box;

}

@keyframes egg {
    from {
        transition: rotateX(0deg);
    }
    to {
        transform: rotateX(20deg);
    }
}
@keyframes eggHover {
    /*from {
        transition: translateX(0%) rotateZ(0deg);
    }
    to {
        transform: translateX(20%) rotateZ(20deg);
    }*/
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}